<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>ABOUT PAGE</h2>

    <a href="/home">Home Page</a>
     <br>
    <a href="/works">Works Page</a>

    <p>Welcome to the Golden Retriever About page</p>
    
 <p>Golden Retriever is a movie Star who stares in various movies for kids. For more information check out the works page.
</p>
    <img id= "dog" src="golden-retriever.jpg" alt="Dog">
</body>
</html>